/* Montserat Import*/
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Roboto Import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #1a1a1a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #eaeaea !important;
}

.text-dark-important {
  color: #000000 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserat', sans-serif;
  color: #eaeaea !important;
}

p,
span,
div {
  font-family: 'Roboto', sans-serif;
  color: #eaeaea !important;
}

th {
  background-color: gray !important;
  color: white !important;
}

body,
p,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6,
th,
td {
  color: #2a2a2a;
}
